{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrape Agent",
    "version": "2.0.0",
    "description": "Pay-per-use web scraping API built on x402. Extract clean text, links, HTML or metadata from any public URL for $0.01 USDC.",
    "contact": {
      "name": "Scrape Agent",
      "email": "artespraticas@gmail.com",
      "url": "https://scrapeagent.xyz"
    },
    "x-guidance": "Call POST /api/scrape/x402 with a JSON body containing a URL and extract type. Pay $0.01 USDC via x402 on Base, Arc, or Polygon. Input: url (string, required), extract (text|html|links|meta, default: text). Output: JSON with url, extract, result, statusCode. Use this when you need clean text or structured data from any public webpage. No API key or account required."
  },
  "externalDocs": {
    "description": "Full documentation and integration guides",
    "url": "https://scrapeagent.xyz"
  },
  "servers": [
    {
      "url": "https://scrapeagent.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/scrape/x402": {
      "post": {
        "operationId": "scrapeUrl",
        "summary": "Scrape any public URL and return clean content",
        "description": "Extract text, links, HTML or metadata from any public URL. Requires $0.01 USDC payment via x402 on Base, Arc or Polygon. Returns 402 without valid X-PAYMENT header.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USDC",
            "amount": "0.010000"
          },
          "protocols": [
            { "x402": {} },
            { "mpp": {} }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The public URL to scrape",
                    "example": "https://example.com"
                  },
                  "extract": {
                    "type": "string",
                    "enum": ["text", "html", "links", "meta"],
                    "default": "text",
                    "description": "What to extract: text (clean readable text), html (raw HTML), links (all href URLs), meta (title and description)"
                  }
                }
              },
              "example": {
                "url": "https://example.com",
                "extract": "text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scrape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "extract": { "type": "string" },
                    "result": {
                      "oneOf": [
                        { "type": "string" },
                        { "type": "array", "items": { "type": "string" } },
                        { "type": "object" }
                      ]
                    },
                    "statusCode": { "type": "integer" }
                  }
                },
                "example": {
                  "url": "https://example.com",
                  "extract": "text",
                  "result": "Example Domain. This domain is for use in illustrative examples.",
                  "statusCode": 200
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Include X-PAYMENT header with valid x402 USDC payment on Base (eip155:8453), Arc (eip155:421614), or Polygon (eip155:137)."
          },
          "400": {
            "description": "Bad request — url field is required"
          },
          "500": {
            "description": "Scrape failed — target URL may be unavailable"
          }
        }
      },
      "get": {
        "operationId": "scrapeUrlChallenge",
        "summary": "Returns x402 payment challenge",
        "description": "GET returns the x402 payment requirements without charging. Use POST with X-PAYMENT header to scrape.",
        "responses": {
          "402": {
            "description": "Payment required — inspect accepts[] for payment options"
          }
        }
      }
    }
  }
}
