{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrape Agent",
    "version": "2.0.0",
    "description": "Pay-per-use web scraping API built on x402. Extract clean text, links, HTML or metadata from any public URL for $0.01 USDC. No API key, no subscription, no account needed. Perfect for AI agents that need web data on demand.",
    "contact": {
      "name": "Scrape Agent Support",
      "email": "artespraticas@gmail.com",
      "url": "https://scrapeagent.xyz"
    },
    "x-payment": {
      "price": "$0.01",
      "networks": ["eip155:8453", "eip155:421614", "eip155:137"],
      "token": "USDC"
    }
  },
  "externalDocs": {
    "description": "Full documentation, examples and integration guides",
    "url": "https://scrapeagent.xyz/openapi.json"
  },
  "servers": [
    {
      "url": "https://scrapeagent.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/scrape/x402": {
      "post": {
        "operationId": "scrapeUrl",
        "summary": "Scrape any public URL",
        "description": "Extract clean text, links, HTML or metadata from any public URL. Payment of $0.01 USDC required via x402 on Base, Arc or Polygon. Returns 402 without payment header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The public URL to scrape",
                    "example": "https://example.com"
                  },
                  "extract": {
                    "type": "string",
                    "enum": ["text", "html", "links", "meta"],
                    "default": "text",
                    "description": "What to extract from the page"
                  }
                }
              },
              "example": {
                "url": "https://example.com",
                "extract": "text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scrape",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "extract": { "type": "string" },
                    "result": {
                      "oneOf": [
                        { "type": "string" },
                        { "type": "array", "items": { "type": "string" } },
                        { "type": "object" }
                      ]
                    },
                    "statusCode": { "type": "integer" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — include X-PAYMENT header with valid x402 USDC payment"
          },
          "400": {
            "description": "Bad request — url field is required"
          },
          "500": {
            "description": "Scrape failed — target URL may be unavailable"
          }
        },
        "x-x402": {
          "price": "$0.01",
          "networks": ["eip155:8453", "eip155:421614", "eip155:137"]
        }
      },
      "get": {
        "operationId": "scrapeUrlGet",
        "summary": "Returns 402 payment challenge",
        "description": "GET returns the x402 payment requirements. Use POST with X-PAYMENT header to scrape.",
        "responses": {
          "402": {
            "description": "Payment required"
          }
        }
      }
    }
  }
}
